
.hiden {
    display: none;
}
.show {
    display: block;
}

.input-contrast {
    background-color: #fafbfc;
}

.textarea {
    border-bottom: 1px dashed #dfe2e5;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.newPost {
    padding-bottom: 50px;
}

.postSolo {
   padding-bottom: 20px; 
}

.div-actions {
    padding: 0px;
}

.img-user-image {
    border: 2px solid darkgray;
    height: 50px;
    width: 50px;
}

.button-action-editar {
    margin-right: 10px;
}
.comment-form-textarea {
    resize: none;
}