.hiden{  
    display: none;
}
#registerUser{  
    margin-left: 35%; margin-top: 10%; float: left; width: 30%;  background: #f8f7f9;text-align: center;padding: 5%;}
#logo{   float: right; width: 80px;height: 70px;}

p { margin-bottom: 10%;}


#email,#password{ margin: 2%; width: 80%;  }
/*#formulario{ border: solid 3px #000000; height: 900px;}*/
#bd{ border-top: solid 10px #ffffff; float: right; width: 100%; height: 800px; background: #f8f7f9;text-align: center;    }
.form-inline { width: 50%;}
#navbar{border-bottom: solid 2px#ff4d94;}


.input-contrast {
    background-color: #fafbfc;
}

.textarea {
    border-bottom: 1px dashed #dfe2e5;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.newPost {
    padding-bottom: 50px;
}

.postSolo {
   padding-bottom: 20px; 
}
.span-google {
    padding-right: 40px;
}
.btn-iniciar-session {
    margin-top: 20px;
}